$font-family: "Roboto",sans-serif;
$white-color:#ffffff;

body{
	font-family:$font-family;
	padding-top: 50px;
	background-color:#E0E0E0;
}

section {
	padding:60px 0;
	h1 {
		font-weight:700;
		margin-bottom:10px;
	}
	p {
		color:#ffffff;
		&:last-child {
			margin-bottom:0
		}
	}
}
nav {
	height:100px;
	background-color:#0683c9;
	-webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
	-moz-box-shadow: 3px 3px 3px rgba(68,68,68,0.6);
	-webkit-box-shadow: 3px 3px 3px rgba(68,68,68,0.6);
	box-shadow: 3px 3px 3px rgba(68,68,68,0.6);
	.navbar-brand {
		padding-top:20px;
		color:$white-color;
		-webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;

    	h1{
    		font-size:40px;
    		-webkit-transition: all 0.3s;
		    -moz-transition: all 0.3s;
		    -ms-transition: all 0.3s;
		    -o-transition: all 0.3s;
		    transition: all 0.3s;
    	}
	}
	.navbar-brand h1:hover{
		color:$white-color;
	}
	.nav{
		display:inline-block;
		float: right;
		-webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
			a{

				padding-top:20px !important;
				padding-bottom:20px !important;
				margin-left:20px;
				color:#9FDBFC;
				font-weight:700px;
				font-size: 20px;
			    -webkit-transition: all 0.3s;
			    -moz-transition: all 0.3s;
			    -ms-transition: all 0.3s;
			    -o-transition: all 0.3s;
			    transition: all 0.3s;
			}
		li{
			a:hover{
				color:$white-color;
			}
			.active{
				color:$white-color;
			}
		}
	}

	.navbar-brand .logo{
		font-size:20px;
		padding-top: 0px !important;
		padding-bottom: 20px !important;
		-webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
	}
	
}

nav.shrink{
	height:50px;
	-webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
}

nav.shrink {
	
	a{
		padding-top: 10px !important;
	  	padding-bottom: 10px !important;
	  	font-size:18px;
	  	-webkit-transition: all 0.3s;
		    -moz-transition: all 0.3s;
		    -ms-transition: all 0.3s;
		    -o-transition: all 0.3s;
		    transition: all 0.3s;
	}
}

.portfolio_wrapper{
	padding-top: 150px;
	.img-thumbnail{
		width:auto;
		height:300px;
	}
	h2{
		font-size:40px;
	
	}
}

.work-wrapper{
	background-color:#0683c9;
	margin-top: 20px;
}
